{% extends "PapillonTasksBundle::layout.html.twig" %}

{% block title %}Papillon | My account{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-1">

            <form action="{{ path('account') }}" method="post" accept-charset="utf-8" class="form" role="form">

                <legend>My account</legend>

                {{ form_widget(account_form._token) }}

                <div class="row">
                    <div class="col-xs-6 col-md-6">

                        {% if (form_errors(account_form.first_name)) %}
                            <div class="alert alert-danger">
                                <strong>{{ form_errors(account_form.first_name) }}</strong>
                            </div>
                        {% endif %}

                        <div class="form-group required">
                            <label class="control-label" for="textinput">First name:</label>
                            {{ form_widget(account_form.first_name,{'attr': {'class': 'form-control'}})}}
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">

                        {% if (form_errors(account_form.last_name)) %}
                            <div class="alert alert-danger">
                                <strong>{{ form_errors(account_form.last_name) }}</strong>
                            </div>
                        {% endif %}

                        <div class="form-group required">
                            <label class="control-label" for="textinput">Last name:</label>
                            {{ form_widget(account_form.last_name,{'attr': {'class': 'form-control'}})}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-6">

                        {% if (form_errors(account_form.email)) %}
                            <div class="alert alert-danger">
                                <strong>{{ form_errors(account_form.email) }}</strong>
                            </div>
                        {% endif %}

                        <div class="form-group required">
                            <label class="control-label" for="textinput">Email :</label>
                            {{ form_widget(account_form.email,{'attr': {'class': 'form-control'}})}}
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">

                        <div class="form-group">
                            {% if (form_errors(account_form.birth_date)) %}
                                <div class="alert alert-danger">
                                    <strong>{{ form_errors(account_form.birth_date) }}</strong>
                                </div>
                            {% endif %}

                            <label class="control-label" for="textinput">Birth Date :</label>
                            {{ form_widget(account_form.birth_date, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="textinput">Phone :</label>
                    {{ form_widget(account_form.phone, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                   <button class="btn btn-info" type="submit">Update</button>
                </div>
            </form>

            <form action="{{ path('update_pass') }}" method="post" accept-charset="utf-8" class="form" role="form">

                <legend>Change password</legend>

                {{ form_widget(pass_form._token) }}

                <div class="form-group required">
                    {% if (form_errors(pass_form.oldPassword)) %}
                        <div class="alert alert-danger">
                            <strong>{{ form_errors(pass_form.oldPassword) }}</strong>
                        </div>
                    {% endif %}
                    <div class="required-field-block">
                        {{ form_widget(pass_form.oldPassword, {'attr': {'class': 'form-control' ,'placeholder':'Old Password' }})}}
                        <div class="required-icon">
                            <div class="text">*</div>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    {% if (form_errors(pass_form.password.first)) %}
                        <div class="alert alert-danger">
                            <strong>{{ form_errors(pass_form.password.first) }}</strong>
                        </div>
                    {% endif %}
                    <div class="required-field-block">
                        {{ form_widget(pass_form.password.first, {'attr': {'class': 'form-control' ,'placeholder':'New Password' }}) }}
                        <div class="required-icon">
                            <div class="text">*</div>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    {% if (form_errors(pass_form.password.second)) %}
                        <div class="alert alert-danger">
                            <strong>{{ form_errors(pass_form.password.second) }}</strong>
                        </div>
                    {% endif %}
                    <div class="required-field-block">
                        {{ form_widget(pass_form.password.second, {'attr': {'class': 'form-control' ,'placeholder':'Confirm Password' }})}}
                        <div class="required-icon">
                            <div class="text">*</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-warning" type="submit">Update</button>
                </div>
            </form>
        </div>

        <div class="col-md-4 col-md-offset-1">
            <div id="sidebar">
                <legend>My account</legend>

                <p>
                    Identifiant: <b><a href="#" class="user active">{{ app.user.username }}</a></b>
                    <br/>
                    Created at: {{ app.user.createdAt|date("d M Y") }}
                </p>

                <p><a href="#"> <span class="glyphicon glyphicon-trash"></span> Delete Account</a></p>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            $('#user_birth_date').datetimepicker({
                format:'Y-m-d',
                lang:'fr',
                timepicker:false,
                mask:true
            });
        })
    </script>
{% endblock %}
