{% extends "PapillonTasksBundle::layout.html.twig" %}

{% block title %}Papillon | Adminstration{% endblock title %}

{% block content %}

    <div id="content_wrapper">

        <div class="newtask">
            <h2>Adminstration</h2>
        </div>

        <fieldset class="filtre">

            {# total items count #}
            <div class="count">
                {{ pUsers.currentPageNumber ~ ' / ' ~ pUsers.getTotalItemCount }}
            </div>


            <div class="box-element">
                <div class="box-head-light"><h5>Users</h5></div>
                <div class="box-content no-padding">
                    <table class="i-table fullwidth">

                        <thead>
                        <tr>
                            <td>{{ knp_pagination_sortable(pUsers, 'Id', 'a.id') }}</td>
                            <td{% if pUsers.isSorted('a.Username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pUsers, 'Username', 'a.username') }}</td>
                            <td{% if pUsers.isSorted('a.Email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pUsers, 'Email', 'a.email') }}</td>
                            <td>Enabled</td>
                        </tr>
                        </thead>

                        <tbody>
                        {% for user in pUsers %}
                            <tr class="{% if loop.index is odd %}dark{% else %}light{%  endif %}">
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.active }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>



            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pUsers) }}
            </div>
        </fieldset>
    </div>
{% endblock %}
