<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '@bootstrap_css'
            'assets/css/jquery-ui.min.css'
            'assets/css/jquery.datetimepicker.css'
            'assets/css/select2.min.css'

            '@PapillonUserBundle/Resources/public/css/papillon.css'
            '@PapillonUserBundle/Resources/public/css/customDatatable.css'
            '@PapillonUserBundle/Resources/public/css/custom-forms.css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block javascripts %}

            {% javascripts

            '@jquery'
            '@bootstrap_js'

            'assets/js/jquery-ui.min.js'
            'assets/js/highcharts.js'
            'assets/js/underscore-min.js'
            'assets/js/moment.min.js'
            'assets/js/jquery.dataTables.js'
            'assets/js/jquery.datetimepicker.js'
            'assets/js/select2.min.js'

            '@PapillonUserBundle/Resources/public/js/main.js'
            '@PapillonUserBundle/Resources/public/js/datatableManager.js'
            '@PapillonUserBundle/Resources/public/js/papi-graph.js' %}
            <script src="{{ asset_url }}"></script>

            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            {% endjavascripts %}
        {% endblock %}

    </head>
    <body>

        {% block header %}{% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>


    </body>
</html>
