{% extends "PapillonUserBundle::layout.html.twig" %}

{% block title %}Papillon | Tasks {% endblock title %}

{% block content %}

    <div class="container">

        <div class="newtask">
            <h2>mes activités</h2>
        </div>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>{{ 'priority'|trans }}</th>
                <th>{{ 'status'|trans }}</th>
                <th>{{ 'dateCreated'|trans }}</th>
                <th>Temps passé</th>
            </tr>
            </thead>
            <tbody>

            {% for item in tasks %}
                <tr>
                    <td>{{ item.priority|trans }}</td>
                    <td>{{ item.status|trans }}</td>
                    <td>{{ item.createdAt|date('Y-m-d') }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: {{ item.timeSpent }}%;"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').dataTable();


            // For demo to fit into DataTables site builder...
            $('#example')
                    .removeClass( 'display' )
                    .addClass('table table-striped table-bordered');
        } );
    </script>
{% endblock %}
