{% extends '::base.html.twig' %}
{% set current_route = app.request.attributes.get('_route') %}

{% block header %}

    <div id="header" class="png_bg">

        <div id="head_wrap">

            <div id="logo">
                <a href="<?php echo url_for('activite/index'); ?>">
                    <img src="<?php echo image_path('macket/logo.png')?>" alt="Logo" class="png_bg"/>
                </a>
            </div>

            <br>

            <div id="login">

                <p>Hi <span class="highlight">&nbsp;
                        Hassan Absike &nbsp;</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; {{ "now"|date("d/m/Y") }}
                    <span class="highlight">&nbsp;</span>
                 </p>
            </div>

            <div id="nav">
                <ul>
                    <li><a href="{{ path('tasks') }}" class="png_bg {% if current_route == 'tasks' %}active{% endif %}">Mes activités</a></li>
                    <li><a href="{{ path('alert') }}" class="png_bg {% if current_route == 'alert' %}active{% endif %}">Alertes</a></li>
                    <li><a href="{{ path('users') }}" class="png_bg {% if current_route == 'users' %}active{% endif %}">Administration</a></li>
                    <li><a href="{{ path('projects') }}" class="png_bg {% if current_route == 'projects' %}active{% endif %}" >Mes projets</a></li>
                    <li><a href="{{ path('customers') }}" class="png_bg {% if current_route == 'customers' %}active{% endif %}">Clients</a></li>
                    <li><a href="{{ path('dashboard') }}" class="png_bg {% if current_route == 'dashboard' %}active{% endif %}">Dashboard</a></li>

                    <li><a href="{{ path('fos_user_security_logout') }}" class="png_bg">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}