{% extends "PapillonUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}

    <div id="login">
        <div class="box box-50 altbox">
            <div class="boxin">

                <div class="header">
                    <img src="{{ asset('bundles/papillonuser/images/logo.png') }}" alt=""/>
                </div>

                <div id="login-box" class="content">
                    <form id="login-box" class="table" action="{{ path("fos_user_security_check") }}" method="post">
                        <div class="inner-form">
                            <table>
                                <br/>
                                <tr>
                                    <th><label for="login">{{ 'security.login.username'|trans }}</label></th>
                                    <td><input class="txt" id="username" name="_username" value="{{ last_username }}" required="required"/></td>
                                </tr>
                                <tr>
                                    <th><label for="pass">{{ 'security.login.password'|trans }}</label></th>
                                    <td><input class="txt pwd" id="password" name="_password" required="required"/></td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th><label class="check">
                                            <input class="check" type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                            {{ 'security.login.remember_me'|trans }}
                                        </label></th>
                                </tr>

                                <tr>
                                    <td>&nbsp;</td>
                                    <td align="right">
                                        <input type="submit" id="_submit" name="_submit" value="Se connecter"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="lien" align="right">
                    <a href="" class="nyroModal">Obtenir un compte &nbsp;|</a>
                    <a href="" class="nyroModal">&nbsp;Mot de passe oublié ?</a>
                </div>

            </div>
            <div id="copy">Copyright © 2011-2012 Hassan Absike. Tous droits réservés</div>
        </div>

    </div>


    <script type="text/javascript">

        //document.getElementById("username").focus();
        //$('.nyroModal').nyroModal();

    </script>

{% endblock fos_user_content %}



