<form accept-charset="UTF-8" role="form" action="{{ path("signup") }}" method="post" class="register-form">
    <h3>Sign Up</h3>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <span> {{ flashMessage }}</span>
        </div>
    {% endfor %}

    <p class="hint">
        Enter your personal details below:
    </p>

    {{ form_widget(form_signup._token) }}
    {{ form_errors(form_signup) }}

    <div class="form-group">
        {{ form_widget(form_signup.first_name, {'attr': {'class': 'form-control placeholder-no-fix' , 'placeholder':'First name' }}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_signup.last_name, {'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'Last name' }}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_signup.email, {'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'Email' }}) }}
    </div>

    <div class="form-group">
        {{ form_widget(form_signup.phone, {'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'Phone' }}) }}
    </div>

    <div class="form-group">
        {{ form_widget(form_signup.gender, {'attr': {'class': 'form-control text-center'}}) }}
    </div>

    <p class="hint">
        Enter your account details below:
    </p>

    <div class="form-group">
        {% if (form_errors(form_signup.username)) %}
            <div class="alert alert-danger">
                <span>{{ form_errors(form_signup.username) }}</span>
            </div>
        {% endif %}
        {{ form_widget(form_signup.username, {'attr': {'class': 'form-control placeholder-no-fix' , 'placeholder':'Username' , 'autocomplete':'off' }}) }}
    </div>

    <div class="form-group">
        {% if (form_errors(form_signup.rawPassword.first)) %}
            <div class="alert alert-danger">
                <span>{{ form_errors(form_signup.rawPassword.first) }}</span>
            </div>
        {% endif %}
        {{ form_widget(form_signup.rawPassword.first, {'attr': {'class': 'form-control placeholder-no-fix' , 'placeholder':'Password' , 'autocomplete':'off' }}) }}
    </div>

    <div class="form-group">
        {% if (form_errors(form_signup.rawPassword.second)) %}
            <div class="alert alert-danger">
                <span>{{ form_errors(form_signup.rawPassword.second) }}</span>
            </div>
        {% endif %}
        {{ form_widget(form_signup.rawPassword.second, {'attr': {'class': 'form-control placeholder-no-fix' , 'placeholder':'Re-type Your Password' , 'autocomplete':'off' }}) }}
    </div>

    <div class="form-group">
        <!-- BEGIN: ReCAPTCHA implementation example. -->
        <div class="g-recaptcha" data-sitekey="6LcYbwETAAAAAAuoWCfwjGPkEW8cHwqUX6NoO3Vt" style="margin: 17px !important;"></div>
        <!-- END: ReCAPTCHA implementation example. -->
    </div>

    <div class="form-actions">
        <button type="button" id="register-back-btn" class="btn btn-default">Back</button>
        <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
    </div>
</form>