{% extends "PapillonTasksBundle::layout.html.twig" %}

{% block title %}Papillon | Tasks {% endblock title %}

{% block content %}

    <div class="container">

        <div class="newtask">
            <h2>mes activités</h2>
        </div>

        <table id="example" class="dataTable  table table-striped" cellspacing="1" width="100%" rowsS>
            <thead>
            <tr>
                <th>{{ 'dateCreated'|trans }}</th>
                <th>Temps passé</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for item in tasks %}
                <tr>
                    <td>{{ item.createdAt|date("d F Y") }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: {{ item.timeSpent }}%;"></div>
                        </div>
                    </td>
                    <td>
                        <span class="label label-{{ item.priority }}">{{ item.priority|trans }}</span>
                        <span class="label label-{{ item.priority }}">{{ item.status }}</span>
                    </td>
                    <td>
                        <div class="text-center">
                            <a href="#">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {


            var oTable = $('#example').dataTable({
                //"sPaginationType": "full_numbers",
                "bFilter": true,
                "bSort": true,
                //"bStateSave": true,
                //"bAutoWidth": false,
                "bInfo": true,
                "bLengthChange": true,
                "iDisplayLength": 10,
                fnDrawCallback: function () {
                    var wrapper = this.parent();
                    var rowsPerPage = this.fnSettings()._iDisplayLength;
                    var rowsToShow = this.fnSettings().fnRecordsDisplay();
                    var minRowsPerPage = this.fnSettings().aLengthMenu[0][0];
                    if (rowsToShow <= rowsPerPage || rowsPerPage == -1) {
                        $('.dataTables_paginate', wrapper).css('visibility', 'hidden');
                    }
                    else {
                        $('.dataTables_paginate', wrapper).css('visibility', 'visible');
                    }
                    if (rowsToShow <= minRowsPerPage) {
                        $('.dataTables_length', wrapper).css('visibility', 'hidden');
                    }
                    else {
                        $('.dataTables_length', wrapper).css('visibility', 'visible');
                    }
                }
            });

            // For demo to fit into DataTables site builder...
            /*$('#example')
                    .removeClass('display')
                    .addClass('table table-striped table-bordered');*/
        });
    </script>
{% endblock %}
